<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
   <title>主页</title>
   <th:block th:include="/common/common_header :: header"></th:block>
   <link th:href="@{/statics/indexCss/index.css}" rel="stylesheet"/>
</head>
<body>

<!-- <div>欢迎你<span th:text="${user.username}"></span></div> -->
<div id="app">
	<div class="container">
	<nav class="navbar navbar-expand-lg">
	<div class="collapse navbar-collapse">
	<span class="navbar-text">
       Navbar text with an inline element
    </span>
	<ul class="nav navbar-nav justify-content-end ml-auto" id="myTab" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">概览</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">记一笔</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">账户</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#report" role="tab" aria-controls="contact" aria-selected="false">报表</a>
	  </li>
	</ul>
	<span class="navbar-text">
      Navbar text with an inline element
    </span>
	</div>
	</nav>
	<div class="tab-content" id="myTabContent">
	  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">home-tab</div>
	  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">profile-tab</div>
	  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">contact-tab</div>
	  <div class="tab-pane fade" id="report"  role="tabpanel" aria-labelledby="contact-tab">报表-tab</div>
	</div>
	</div>
</div>
<script>
  $(function () {
     $('#myTab li:first-child a').tab('show')
  })
  </script>
</body>

</html>