body{
	background-color: #f5f5f5;
	/* background-image: url(../img/main_bg.jpg);
    background-size: 100% 100%;
    background-position: center top; */
}

#my-header{
	position: fixed;
	z-index: 9999999;
	background-color: #fff;
	width:100%;
	top: 0;
	min-width: 1108px;
	padding-top: 1rem;
}

#bg1 {
	position:fixed;
	top:65px;
    width: 100%;
    height: 400px;
    background-color: #ffdebd;
}
#app{
	padding-top:30px;
}

.nav-item .active{
	color:#e79d05;
}

.header-user-a{
	margin-right:20px;
	font-size:14px;
	padding-right: 20px;
    border-right: 1px solid #e7e7e7;
}

.header-user-name{
	font-size:14px;
	margin-right:10px;
	padding-right: 10px;
    border-right: 1px solid #e7e7e7;
}

.header-logo-img{
	width:180px;
}

#myTab{
	padding-left:80px;
}

a:hover{
	text-decoration : none;
}

.el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
  }
  
  .el-aside {
    text-align: center;
    /* line-height: 200px; */
    padding-top: 10px;
    padding: 0;
    margin: 0;
    color: #737373;
    background-color: #fff;
    box-shadow: inset 0 1px 0 0 #fff;
    border-radius: 0 0 0 4px;
}
  }
  
  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 160px;
  }
  
 body > .el-container {
    margin-bottom: 40px;
    
 }
 
 
 #myTabContent{
 	/* padding-top: 1rem; */
 	background: #f8f8fa;
    border: 1px solid rgba(255,255,255,0.68);
    box-shadow: 0 6px 12px 0 rgba(7,13,28,0.04);
    border-radius: 0 4px 4px 4px;
    margin-top:35px;
 }
 
 .el-row{
  text-align: left;
  margin-left: 12px;
  padding: 28px 32px 10px 20px;
  border-bottom: 1px solid #eaeaec;
  font: 12px 'helvetica neue',arial,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;
 }
 
 .money-name{
 	font-size:12px;
    line-height: 12px;
    color: #aaa;
    margin-bottom: 6px;
 }
 
 .font-color-red{
  color:#f1523a;
  display: block;
  font-size: 18px;
  line-height: 18px;
 }
 
.font-color-green{
  color:#14ba89;
  display: block;
  font-size: 18px;
  line-height: 18px;
}

.font-color-black{
  color:#312f2c;
  display: block;
  font-size: 18px;
  line-height: 18px;
}
 
 .row-div{
 margin-bottom:18px;
 }
 
#account-ul li{ 
	list-style: none;
	height:72px;
	border-bottom: 1px solid #eaeaec;
	position:inherit;
	z-index:9999;
	text-align: right;
    padding-right: 24px;
    cursor: pointer;
    
}

#account-ul li span{
	display: block;
	cursor: pointer;
	
}

/* .choose{
	border-left: 4px solid #e79d05;
} */

#l-choose-bg {
    position: absolute;
    right: 0;
    z-index: 1;
    width: 100%;
    border-left: 4px solid #e79d05;
    height: 72px;
    background: #f8f8fa;
    display: node;
}

.acc_rtop {
    padding: 34px 36px 4px 36px;
}

.acc_rtop_title {
    font-size: 18px;
    font-weight: bold;
    color: #312f2c;
}

.acc_rtop_content {
    position: relative;
    height: 47px;
    margin-top: 35px;
}

.acc_rtop_item {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0;
    padding-right: 35px;
    padding-left: 35px;
    border-right: 1px solid #eaeaec;
}

.acc_rtop_name {
    font-size: 12px;
    color: #aaa;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.acc_rtop_num {
    font-size: 26px;
    margin-top: 8px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.acc_rtop_item:nth-of-type(1) {
    padding-left: 0;
}

.acc_rtop_data{
	font-size: 0;
    letter-spacing: -5px;
}

#acc_in{
	color: #f1523a;
    display: block;
}

#acc_out{
	color: #14ba89;
    display: block;
}

#r-info {
    position: absolute;
    right: 0;
    top: 0;
}

.clearfix {
    zoom: 1;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
    overflow: hidden;
}

#r-addbtn {
    cursor: pointer;
    float: right;
    width: 168px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    color: #fff;
    border-radius: 3px;
}
.btn-common-yellow {
    display: block;
    border: 0;
    color: #fff;
    background: #f7b432;
    text-align: center;
    cursor: pointer;
    background-image: -webkit-linear-gradient(135deg,#febe3f 0,#eba51e 100%);
    background-image: -moz-linear-gradient(135deg,#febe3f 0,#eba51e 100%);
    background-image: linear-gradient(135deg,#febe3f 0,#eba51e 100%);
    border-radius: 3px;
    box-shadow: 0 8px 12px -6px rgba(167,86,0,0.16);
    outline: 0;
}

#r-addbtn .icon-ali-zengjia {
    font-size: 16px;
    -webkit-text-stroke-width: .8px;
    margin-right: 7px;
}
.icon-ali-zengjia {
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0;
    -moz-osx-font-smoothing: grayscale;
}

