<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
   <title>登录</title>
   <link th:href="@{/loginCss/login.css}" rel="stylesheet"/>
   <link th:href="@{/common/css/customIcons/iconfont.css}" rel="stylesheet"/>
   <th:block th:include="/common/common_header :: header"></th:block>
</head>
<body>
    <el-form class="form-signin" :model="ruleForm" ref="ruleForm" status-icon :rules="rules" id="app">
        <div class="text-center mb-4">
              <h1 class="h3 mb-3 font-weight-normal">记账本</h1>
        </div>
        <div class="form-label-group" >
        	<el-form-item  prop="userName">
	        	<el-input prefix-icon="iconfont icon-ali-nickname"  v-model="ruleForm.userName" placeholder="请输入用户名"  auto-complete="off"></el-input>
      		</el-form-item>
      	</div>
      	<div class="form-label-group">
      		<el-form-item  prop="password">
	        	<el-input v-model="ruleForm.password"  prefix-icon="iconfont  icon-ali-locking" type="password" placeholder="请输入密码"  auto-complete="off"></el-input>
      		</el-form-item>
      	</div>
      	<el-button type="primary" style="width:100%;" :loading="loadingFlag" @click="login('ruleForm')">{{loginText}}</el-button>
      	<p class="mt-5 mb-3 text-muted text-center" th:text="${versionName}"></p>
    </el-form >
</body>
<script>
	    new Vue({
	      el: '#app',
	      data() {
	    	  var validateUserName = (rule, value, callback) => {
	    		 var reg = /^[A-Za-z][A-Za-z0-9]{5,11}$/;
	    	        if (!value) {
	    	          return callback(new Error('用户名不能为空'));
	    	        }
	    	        setTimeout(() => {
	    	          if (!reg.test(value)) {
	    	            callback(new Error('请输入正确的用户名'));
	    	          } else {
	    	              callback();
	    	          }
	    	        }, 1000);
	    	      };
	    	      
	    	      var validatePassWord = (rule, value, callback) => {
		    	        setTimeout(() => {
		    	        	if (!value) {
				    	          return callback(new Error('密码不能为空'));
				    	   } else {
 		    	              callback();
		    	          }
		    	        }, 1000);
		    	      };
	        return {
	        	ruleForm:{
	        		userName:"",
		        	password:"",
	        	},
	        	loadingFlag:false,
	        	loginText:"登录",
	        	rules:{
	        		userName: [
	                    { validator: validateUserName, trigger: 'blur' }
	                  ],
	                password: [
	                    { validator: validatePassWord, trigger: 'blur' }
	                  ]
	        	}
	        }
	      },
	      methods:{
	    	  login(formName){
	    		  this.$refs[formName].validate((valid) => {
	    	          if (valid) {
	    	            alert('submit!');
	    	            this.loadingFlag = true;
	  	    		 	 this.loginText = "登录中";
	    	          } else {
	    	            console.log('error submit!!');
	    	            return false;
	    	          }
	    	        });
	    		  
	    	  }
	      }
	    })
  </script>
</html>

