<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
   <title>注册</title>
   <link th:href="@{/statics/loginCss/register.css}" rel="stylesheet"/>
   <link th:href="@{/statics/common/css/customIcons/iconfont.css}" rel="stylesheet"/>
   <th:block th:include="/common/common_header :: header"></th:block>
</head>
<body>
    <div class="main-agile">
		<h1>Rotate Under Construction</h1>
		<div class="w3ls-grids">
			<div class="w3ls-right">
				<div class="w3l-dot">
					<div class="w3-heading">
						<h3>We'll be here soon</h3>
						<h4>OUR WEBSITE</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
					</div>
				</div>
				<div class="demo2 dsCountDown ds-black"><div class="ds-element ds-element-days">							<div class="ds-element-title">Days</div>							<div class="ds-element-value ds-days">2064</div>						</div><div class="ds-element ds-element-hours">							<div class="ds-element-title">Hours</div>							<div class="ds-element-value ds-hours">01</div>						</div><div class="ds-element ds-element-minutes">							<div class="ds-element-title">Minutes</div>							<div class="ds-element-value ds-minutes">20</div>						</div><div class="ds-element ds-element-seconds">							<div class="ds-element-title">Seconds</div>							<div class="ds-element-value ds-seconds">16</div>						</div>
					
				</div>
			</div>
			<div class="w3ls-left">
		<div class="login-w3l">	
			<div class="top-img-agileits-w3layouts">
				<h2 class="sub-head-w3-agileits">stay updated</h2>
			</div>			
			<div class="login-form">	
				<form action="#" method="post">
					<input type="text" name="Name" placeholder="Name" required="">
					<input type="email" name="Email" placeholder="Email" required="">
					<input type="text" name="Company" placeholder="Company" required="">
					<textarea name="Comments" placeholder="How can we help you?" required=""></textarea>
					<input type="submit" value="Send">
				</form>	
			</div>
			<!-- //login -->
				</div> 
				<div class="clear"></div>
			</div>
			<div class="clear"> </div>
		</div>
		<!-- copyright -->
		<div class="copyright">
			<p>Copyright © 2018.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">网页模板</a></p>
		</div>
		<!-- //copyright -->  
	</div>
</body>
<script>
	    
  </script>
</html>

