<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
   <title>注册</title>
   <link th:href="@{/statics/loginCss/register.css}" rel="stylesheet"/>
   <link th:href="@{/statics/common/css/customIcons/iconfont.css}" rel="stylesheet"/>
   <th:block th:include="/common/common_header :: header"></th:block>
</head>
<body>
    <div class="main-agile" id="app">
		<h1>取之有度，用之有节</h1>
		<div class="w3ls-grids">
			<div class="w3ls-right">
				<div class="w3l-dot">
					<div class="w3-heading">
						<h3>We'll stick with it</h3>
					</div>
				</div>
				<div class="demo2 dsCountDown ds-black">
					<div class="ds-element ds-element-days">							
						<div class="ds-element-title">Days</div>							
						<div class="ds-element-value ds-days">{{year}}</div>	
					</div>
					
					<div class="ds-element ds-element-hours">							
						<div class="ds-element-title">Hours</div>		
						<div class="ds-element-value ds-hours">{{hour}}</div>						
					</div>
					<div class="ds-element ds-element-minutes">							
						<div class="ds-element-title">Minutes</div>							
						<div class="ds-element-value ds-minutes">{{minute}}</div>						
					</div>
					<div class="ds-element ds-element-seconds">							
						<div class="ds-element-title">Seconds</div>							
						<div class="ds-element-value ds-seconds">{{second}}</div>						
					</div>
				</div>
			</div>
			<div class="w3ls-left">
		<div class="login-w3l">	
			<div class="top-img-agileits-w3layouts">
				<h2 class="sub-head-w3-agileits">坚持</h2>
			</div>			
			<div class="login-form ">	
				<el-form  id="userForm" :model="UserPojo" ref="UserPojo"  status-icon :rules="rules">
					<el-form-item  prop="username">
				    	<el-input v-model="UserPojo.username" name="username" placeholder="用户名"></el-input>
				   	</el-form-item>
				   	<el-form-item  prop="password">
				    	<el-input v-model="UserPojo.password" name="password" placeholder="密码"></el-input>
				    </el-form-item>
						<input type="button" id="resButton" @click="onSubmit('UserPojo')" value="注册">
				</el-form>	
			</div>
			<!-- //login -->
				</div> 
				<div class="clear"></div>
			</div>
			<div class="clear"> </div>
		</div>
		<!-- copyright -->
		<div class="copyright">
			<p>Copyright © 2018.Company name All rights reserved</p>
		</div>
		<!-- //copyright -->  
	</div>
</body>
<script>
new Vue({
    el: '#app',
    data() {
    	var validateUserName = (rule, value, callback) => {
   		 var reg = /^[A-Za-z][A-Za-z0-9]{5,11}$/;
   	        if (!value) {
   	          return callback(new Error('用户名不能为空'));
   	        }else{
   	        	if (!reg.test(value)) {
   	   	            callback(new Error('用户名由字母加数字组成首位须为字母,长度为6-12'));
   	   	          } else {
   	   	        	  $.ajax({
   	   	        		  url:[[@{/}]]+"user/checkUsername",
   	   	        		  type:"post",
   	   	        		  data:{
   	   	        			  username:value
   	   	        		  },
   	   	        		  dataType:"json",
   	   	        		  timeout:10000,
   	   	        		  success:function(res){
   	   	        			  if(res.code == 400){
   	   	        			     callback(new Error(res.msg));
   	   	        			  }else{
   	   	        				callback();
   	   	        			  }
   	   	        		  },
   	   	        		  error:function(e){
   	   	        		 	callback(new Error('发生错误,请联系管理员'));
   	   	        		  }
   	   	        	  });
   	   	             
   	   	          }
   	        }
   	      };
   	      
   	      var validatePassWord = (rule, value, callback) => {
	    	        setTimeout(() => {
	    	        	if (!value) {
			    	          return callback(new Error('密码不能为空'));
			    	   } else {
			    		   if(value.length<6){
			    			   return callback(new Error('密码长度须大于5'));
			    		   }else{
			    			   callback();
			    		   }
	    	    }
	    	}, 500);
	    };
      return {
    	  UserPojo:{
    		  username:"",
        	  password:""
    	  },
    	  year:"",
    	  hour:"",
    	  minute:"",
    	  second:"",
    	  rules:{
    		  username:[
    			  {validator:validateUserName,trigger:'blur'}
    		  ],
    		  password:[
    			  {validator:validatePassWord,trigger:'blur'}
    		  ]
    	  }
      }
    },
    methods:{
    	onSubmit(formName){
    		this.$refs[formName].validate((valid) => {
  	          if (valid) {
  	        	$("#resButton").attr("disabled","disabled");
  	        	$("#resButton").text("注册中...");
  	        	 var sef = this;
  	        	$.ajax({
	   	        		  url:[[@{/}]]+"user/register",
	   	        		  type:"post",
	   	        		  data:$('#userForm').serialize(),
	   	        		  dataType:"json",
	   	        		  timeout:10000,
	   	        		  success:function(res){
	   	        			  if(res.code == 200){
	   	        				sef.$notify({
	   	        		          title: '成功',
	   	        		          message: res.msg,
	   	        		          type: 'success'
	   	        		        });
	   	        				setTimeout(function(){
	   	        					window.location.href=[[@{/}]]+"user/login";
	   	        				},1000);
	   	        				
	   	        			  }else{
	   	        				sef.$notify({
	   	        		          title: '警告',
	   	        		          message: res.msg,
	   	        		          type: 'warning'
	   	        		        });
	   	        			  }
	   	        		  },
	   	        		  error:function(e){
	   	        			sef.$notify({
	   	        	          title: '警告',
	   	        	          message: '发生错误,请联系管理员',
	   	        	          type: 'warning'
	   	        	        });
	   	        		  }
	   	        	  });
  	          } else {
  	            return false;
  	          }
  	        });
    	}
    },
    created() {
    	var nowDate = new Date();
		this.year= nowDate.getFullYear();
		this.hour= nowDate.getHours();
		this.minute= nowDate.getMinutes();
		this.second= nowDate.getSeconds();
		// 自动补零   
		this.month= (this.month< 10) ? '0' + this.month: this.month= this.month;    
		this.hour= (this.hour< 10) ? '0' + this.hour: this.hour= this.hour;    
		this.minute= (this.minute< 10) ? '0' + this.minute: this.minute= this.minute;    
	    this.second= (this.second< 10) ? '0' + this.second: this.second= this.second;
    	setInterval( () =>{
    		var nowDate = new Date();
    		this.year= nowDate.getFullYear();
    		this.hour= nowDate.getHours();
    		this.minute= nowDate.getMinutes();
    		this.second= nowDate.getSeconds();
    		// 自动补零   
    		this.month= (this.month< 10) ? '0' + this.month: this.month= this.month;    
    		this.hour= (this.hour< 10) ? '0' + this.hour: this.hour= this.hour;    
    		this.minute= (this.minute< 10) ? '0' + this.minute: this.minute= this.minute;    
    	    this.second= (this.second< 10) ? '0' + this.second: this.second= this.second;
    	},1000)
    }
  })
  </script>
</html>

